.answer-radio {
    -webkit-appearance: none;
    -moz-appearance: none;;
    appearance: none;
    position: absolute;
}

.answer-radio:checked + .radio-box {
  background-color: @form-gray;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle r='50' cx='100' cy='50%25'/ fill='%23333333'%3E%3C/svg%3E");
}

.answer-radio:hover + .radio-box {
  background-color: @border-gray;
}

.answer-radio:active + .radio-box {
  background-color: @buttom-gray;
}
