@media(min-width: @tablet-width) {
    .bridge {
      grid-column-start: 5;
      grid-column-end: 6;
      grid-row-start: 1;
      grid-row-end: 2;
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 256px;
    }
}
