.point,
.check-list {
  color: var(--basic-black);
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
}

.description {
  background-color: var(--form-gray);
  color: var(--basic-black);
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
}
