.failure {
    background-color: var(--basic-white);
    width: 320px;
    height: 280px;
}

.report,
.information {
    color: var(--basic-gray);
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
}
