.greeting {
  background: var(--basic-white) url("../source/img/bg-back-mobile@1x.jpg") no-repeat top center;
  border-image: url(../source/img/bg-image-triangle-mobile.svg);
}

@media (min-width: @tablet-width) {
.greeting {
  width: 498px;
}
}

@media (min-width: @desktop-width) {
.greeting {
  width: 460px;
}
}
