@media (max-width: @mobile-width) {
  .greeting-text {
    position: relative;
    align-self: center;
    justify-content: center;
    left: 22%;
    margin-top: 56px;
    padding-top: 100px;
    padding-bottom: 65px;
    z-index: 9;
  }

  .greeting-text--word {
    position: relative;
    align-self: center;
    justify-content: center;
    left: 25%;
    margin-top: 56px;
    padding-top: 52px;
    padding-bottom: 67px;
    z-index: 9;
  }
}

@media(min-width:@tablet-width) {
  .greeting-text {
    position: relative;
    padding-top: 60px;
    padding-bottom: 70px;
    left: 34%;
  }

  .greeting-text--word {
    position: relative;
    padding-top: 60px;
    padding-bottom: 70px;
    left: 38%;
  }
}

@media(min-width:@desktop-width) {
  .greeting-text {
    position: relative;
    padding-top: 95px;
    padding-bottom: 117px;
    left: 40%;
  }
  .greeting-text--word {
    position: relative;
    padding-top: 101px;
    padding-bottom: 120px;
    left: 42%;
  }
}
