.icon {
  background-color: @basic-white;
  width: 100%;
}

@media (max-width: @mobile-width) {
  .icon {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: auto;
  }
}

@media (min-width: @tablet-width) {
  .icon {
    text-align: center;
  }

  .icon--housing {
    width: 33%;
    grid-column: 1/2;
    grid-row: 1/2;
  }

  .icon--food {
    width: 33%;
    grid-column: 2/3;
    grid-row: 1/2;
  }

  .icon-souvenir {
    width: 33%;
    grid-column: 3/4;
    grid-row: 1/2;
  }
}
