.introduction {
    font-weight: bold;
    font-size: 18px;
    line-height: 26px;
    text-transform: uppercase;
    text-align: center;
}

.introduction-name {
  text-align: center;
  align-items: center;
  padding-top: 20px;
  margin-left: 35%;
}
.introduction-info {
  text-align: center;
  align-items: center;
  padding-top: 20px;
  margin-left: 23%;
}
.introduction-emotion {
  text-align: center;
  align-items: center;
  padding-top: 20px;
  margin-left: 22%;
}

@media(min-width: @tablet-width) {
  .introduction-info {
    text-align: center;
    align-items: center;
    padding-top: 20px;
    margin-left: 35%;
  }
  .introduction-emotion {
    text-align: center;
    align-items: center;
    padding-top: 20px;
    margin-left: 38%;
  }
}
