.life-in {
  background-color: @basic-white;
  padding: 0 1px;
  text-align: ;
  text-transform: uppercase;
}

@media(min-width: @tablet-width) {
  .life-in {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 330px;
    margin: 0 auto;
  }
}
