@media (max-width: @mobile-width) {
  .main-page-logo {
      background-color: @basic-white;
      position: absolute;
      order: 2;
  }
}

@media (min-width: @tablet-width) {
  .main-page-logo {
    background-color: @basic-white;
  }
}
