.navigation {
  list-style-type: none;
  padding-top: 13px;
  padding-bottom: 17px;
  display: flex;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  background-color: var(--basic-blue);
  box-shadow: 0px 1px 0px var(--dark-opacity), inset 0px 1px 0px var(--gray-opacity);

  display: flex;
  flex-direction: column;
}
