@media (max-width: @mobile-width) {
  .navigation {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
}
@media (min-width: @tablet-width) {

  .navigation {
    display: flex;
    justify-content: space-around;

    width: auto;
    margin: 0 auto;
  }

  .navigation {
  background: @basic-white;
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-top: 13px;
  padding-bottom: 17px;
  display: flex;
  align-items: center;
 }

  .navigation li {
    width: 240px;
    box-sizing: border-box;
  }

  .navigation li:nth-child(1) {
    padding-left: 72px;
  }

  .navigation li:nth-child(2) {
    margin-right: 240px;
    text-align: center;
  }

  .navigation li:nth-child(4) {
    padding-right: 72px;
    text-align: right;
  }
}
