.photo-gallery {
    background-color: var(--form-gray);
}

.photo-name {
  color: var(--basic-black);
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
}

.author {
  color: var(--basic-gray);
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
}

.likes-number {
  color: var(--basic-black);
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
}
