.photo-gallery {
    background-color: @basic-white;
    margin-top: 23px;
    border-bottom: 1px solid @border-gray;
}

.photo-name {
  color: @basic-black;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
}

.author {
  color: @basic-gray;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
}

.likes-number {
  color: @basic-black;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  padding-left: 10px;
}
