.photos {
    background-color: var(--form-gray);
}

.comment-request {
  color: var(--basic-black);
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
}

.decide {
  color: var(--basic-gray);
  text-transform: uppercase;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
}
