.search-wrapper {
    display: block;
    margin: 0 auto;
    padding: 30px 0;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    background-color: var(--basic-blue);
    width: 280px;
    height: 58px;
    left: 20px;
}

.search-wrapper:hover {
  background-color: var(--hover-blue);
}

.search-wrapper:active {
  background-color: var(--dark-blue);
}

.search-wrapper:disabled {
  background-color: var(--border-gray);
}

@media (min-width: @tablet-width) {
  .search-wrapper {
    width: 458;
    height: 58px;
  }
}
