.search-wrapper {
    display: block;
    margin: 0 auto;
    margin-bottom: 49px;
    padding-top: 30px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    background-color: @basic-blue;
    width: 280px;
    height: 58px;
    left: 20px;
}

.search-wrapper:hover {
  background-color: @hover-blue;
}

.search-wrapper:active {
  background-color: @dark-blue;
}

.search-wrapper:disabled {
  background-color: @border-gray;
}

@media (min-width: @tablet-width) {
  .search-wrapper {
    width: 458;
    height: 58px;
  }
}
