.social-button {
  list-style-type: none;
  background-color: var(--basic-blue);
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  width: 46px;
  height: 48px;
  margin: 36px 3px;
}


.social-button:hover {
background-color: var(--hover-blue);
}

.social-button:active {
background-color: var(--dark-blue);
}

.social-button:disabled {
background-color: var(--border-gray);
}
