.town {
    background-color: #ffffff;
    font-family: PT Sans, Arial, sans-serif;
}

.town-text {
    color: #000000;
    font-size: 18px;
    font-weight: bold;
    line-height: 26px;
    padding: 0 1px;
    text-align: center;
    text-transform: uppercase;
}

.reasons {
    color: #333333;
    font-size: 14px;
    font-weight: normal;
    line-height: 26px;
    padding: 0 1px;
    text-align: center;
    text-transform: uppercase;
}