.town-features {
    background-color: @light-gray;
    padding: 0 1px;
    text-align: center;
    text-transform: uppercase;
}

@media(min-width: @tablet-width) {
  .town-features {
    grid-column: 1/2;
    grid-row: 6/7;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 256px;
  }
}

.town-title {
    color: @basic-black;
    font-size: 18px;
    font-weight: bold;
    line-height: 26px;
}

.town-order,
.town-description {
    color: @basic-gray;
    font-size: 14px;
    font-weight: normal;
    line-height: 21px;
}
