.town {
  background-color: @basic-white;
  font-family: PT Sans, Arial, sans-serif;
}

.town-text {
  color: @basic-black;
  font-size: 18px;
  font-weight: bold;
  line-height: 26px;
  padding: 0 1px;
  text-align: center;
  text-transform: uppercase;
}


@media (min-width: @tablet-width) {
.town {
  grid-column: 1/4;
  grid-row: 2/3;
}
}
