@media (max-width: @mobile-width) {
  .triangle-main {
    background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='320px' height='26.111px' viewBox='440.469 30.889 320 26.111' enable-background='new 440.469 30.889 320 26.111' xml:space='preserve'%3E%3Cpolygon fill='%23FFFFFF' points='760.469,57 760.469,30.889 599.955,57'/%3E%3Cpolygon fill='%23FFFFFF' points='440.469,57 599.955,57 440.469,31.056'/%3E%3C/svg%3E ") no-repeat bottom center;
    position: absolute;
  }
}

@media (min-width: @tablet-width) {
  .triangle-main {
    background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='768px' height='57px' viewBox='216.469 0 768 57' enable-background='new 216.469 0 768 57' xml:space='preserve'%3E%3Cg%3E%3Cpolygon fill='%23FFFFFF' points='249.566,23.71 216.469,20.565 216.469,57 599.955,57 249.566,0'/%3E%3Cpolygon fill='%23FFFFFF' points='950.346,23.71 950.346,0 599.955,57 984.469,57 984.469,20.468'/%3E%3C/g%3E%3C/svg%3E ") no-repeat bottom center;
    position: absolute;
  }
}

@media (min-width: @desktop-width) {
  .triangle-main {
    background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='1200px' height='57px' viewBox='0 0 1200 57' enable-background='new 0 0 1200 57' xml:space='preserve'%3E%3Cg%3E%3Cpolygon fill='%23ffffff' points='250,24 0,0 0,57 250,57 600,57 250,0'/%3E%3Cpolygon fill='%23ffffff' points='951,24 951,0 600,57 951,57 1200,57 1200,0'/%3E%3C/g%3E%3C/svg%3E%0A") no-repeat bottom center;
    position: absolute;
    /* margin-top: 400px; */
  }
}

