.truetown,
.bridge {
    background-color: #81B3D2;
}

.truetown-text {
    color: #ffffff;
    font-family: PT Sans, Arial, sans-serif;
    padding: 0 1px;
    text-align: center;
    text-transform: uppercase;
}

.advantages {
    font-size: 18px;
    font-weight: bold;
    line-height: 26px;
}

.digit,
.touristless {
    font-size: 14px;
    font-weight: normal;
    line-height: 21px;
}
