.truetown,
.bridge {
    background-color: @basic-blue;
}

.truetown-text {
    color: @basic-white;
    padding: 0 1px;
    text-align: center;
    text-transform: uppercase;
}

@media(min-width: @tablet-width) {
  .truetown-text {
    grid-column: 1/2;
    grid-row: 3/4;
  }
}

.advantages {
    font-size: 18px;
    font-weight: bold;
    line-height: 26px;
}

.digit,
.touristless {
    font-size: 14px;
    font-weight: normal;
    line-height: 21px;
}
