.video {
    background-color: @basic-white;
    margin-top: 20px;
    text-align: center;
    align-content: center;
}

@media (min-width:@tablet-width) {
  .video {
    margin-top: 60px;
    align-content: center;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 6;
    grid-row-end: 7;
  }
}

@media (min-width:@desktop-width) {
  .video {
    margin-top: 60px;
    align-content: center;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 5;
    grid-row-end: 6;
  }
}
